<div class="header-wrap">
	<div class="header">
		<div class="logo-holder">
            <a href="#/">
                <img alt="Veiga Studios logo" src="/assets/media/images/logo.png">
            </a>
        </div>
        <div class="menu-holder">
            <ul class="menu">
                <li>
                    <a href="#about">About</a>    
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
	</div>
</div>