<div class="page">
	<div class="row">
		<div class="info-holder">
			<p>Checkout some of the projects I'm worked on, and 
				<a class="accent" href="#contact">let me know if you have questions.</a>
			</p>
		</div>
		
		<div class="one-third">
			<a target="_blank" href="http://keepaustinweirdfest.com">
				<div class="picture-frame">
					<img alt="Keep Austin Weird Fest panel" src="/assets/media/images/portfolio/keepaustinweird2015/panel.png" />
					<p>Keep Austin Weird Fest</p>
				</div>
			</a>
		</div>
		<div class="one-third">
			<a target="_blank" href="http://tourofhomesatx.com">
				<div class="picture-frame">
					<img alt="Tour of Homes Austin panel" src="/assets/media/images/portfolio/tourofhomes2014/panel.png" />
					<p>Tour of Homes</p>
				</div>
			</a>
		</div>
		<div class="one-third">
			<a target="_blank" href="http://jacobshomes.com">
				<div class="picture-frame">
					<img alt="Jimmy Jacobs Homes panel" src="/assets/media/images/portfolio/jimmyjacobshomes/panel.png" />
					<p>Jimmy Jacobs Homes</p>
				</div>
			</a>
		</div>
		<div class="one-third">
			<a target="_blank" href="http://bounceaustin.com">
				<div class="picture-frame">
					<img alt="Bounce Austin panel" src="/assets/media/images/portfolio/bounceaustin2014/panel.png" />
					<p>Bounce Austin</p>
				</div>
			</a>
		</div>
		<div class="one-third">
			<a target="_blank" href="http://paradeofhomesaustin.com">
				<div class="picture-frame">
					<img alt="Parade of Homes panel" src="/assets/media/images/portfolio/paradeofhomes2014/panel.png" />
					<p>Parade of Homes 2014</p>
				</div>
			</a>
		</div>
	</div>
</div>