<div class="page">
    <div class="row">   
        <div class="one-third">
            <div class="picture-frame">
                <img src="/assets/media/images/profile.jpg" alt="Bruno Veiga" />
                <p>This is me.</p>
            </div>
        </div>
        <div class="two-third">
            <div class="about-holder">
                <h3>Who I Am</h3>
                <p>I'm Bruno Veiga, and I love to write code... just like every other programmer... What makes me different from every other person out there is how I think and how I work. Everything I do is simple and clean. I'm very passionate about my code. I don't like to overcomplicate code unnecessarily and I don't like to mix spaces and tabs either.</p>

                <h3>My Background</h3>
                <p>At the University of Texas at Austin I got a strong foundation in object oriented programming as well as core programming principles, and I continue to use those fundamentals in everything I do. I have experience writing programs in C++ and Java, as well as some experience in raw C programming. Oh, and this is where you'll see how much of a chameleon I am - I'm also proficient in more web oriented languages like PHP, and JavaScript. I love those too!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="info-holder">
            <p><a class="accent" href="#contact">Drop me a line.</a></p>
        </div>
    </div>
</div>