<div class="page">
    <div class="howdy-holder">
        <svg>
            <text class="svg-font" x="60" y="100">
                Howdy!
            </text>
        </svg>
        <p class="bold">I'm Bruno Veiga.</p>
        <p>
            I write code in languages like C++, and Java. I also make clean, responsive web solutions using HTML5,
            CSS3, and Javascript. Find me on
            <a target="_blank" class="accent" href="http://www.linkedin.com/in/brunosantanaveiga">linkedin</a>
            or <a class="accent" href="#contact">say hello.</a>
        </p>
        <ul class="menu">
            <li>
                <a href="#about">About</a>    
            </li>
            <li>
                <a href="#portfolio">Portfolio</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</div>