/* ---------------------------------------------------------------------
BREAK #1
------------------------------------------------------------------------ */
@media only screen and (max-width: 980px) {
	.header,
	.page {
		width: 720px;
	}
}

/* ---------------------------------------------------------------------
BREAK #2
------------------------------------------------------------------------ */
@media only screen and (max-width: 720px) {
	.header,
	.page {
		width: 640px;
	}
}

/* ---------------------------------------------------------------------
BREAK #3
------------------------------------------------------------------------ */
@media only screen and (max-width: 640px) {
	.header,
	.page {
		width: 100%;
	}
}