/* ---------------------------------------------------------------------
BREAK #1
------------------------------------------------------------------------ */
@media only screen and (max-width: 980px) {
	.header,
	.page {
		width: 720px;
	}
	
	.form-side,
	.info-side {
		width: 99%;
		margin-bottom: 50px;
	}

	input[type="submit"] {
		height: 55px;
		font-size: 24px;
	}

}

/* ---------------------------------------------------------------------
BREAK #2
------------------------------------------------------------------------ */
@media only screen and (max-width: 720px) {
	.header,
	.page {
		width: 640px;
	}

	text.svg-font {
	    font-size: 110px;
	}

	.howdy-holder {
	    max-width: 436px;
	}

	.one-third, .one-third:first-child,
	.two-third, .two-third:first-child {
		width: 100%;
		margin: 0px;
	}

	.picture-frame,
	.about-holder {
		max-width: 400px;
		margin: auto;
	}
		.picture-frame p {
			display: none;
		}
}

/* ---------------------------------------------------------------------
BREAK #3
------------------------------------------------------------------------ */
@media only screen and (max-width: 640px) {
	.header,
	.page {
		width: calc(98% - 60px);
	}
	
	.header {
		margin: 0px 30px;
	}

	.page {
		margin: 40px 30px;
	}
}

/* ---------------------------------------------------------------------
BREAK #4
------------------------------------------------------------------------ */
@media only screen and (max-width: 560px) {
	h3 {
		font-size: 28px;
	}

	text.svg-font {
	    font-size: 100px;
	}

	.howdy-holder {
	    max-width: 300px;
	}
}

/* ---------------------------------------------------------------------
BREAK #5
------------------------------------------------------------------------ */
@media only screen and (max-width: 440px) {
}
























