<div class="page">
	<div class="email-holder">
		<h2>Like what you see here? I'd love to help you bring your ideas to life.</h2>
		<div class="form-side">
			<h4>Send Me a Message</h4>
			<form name="htmlform" method="post" action="/email-sent.php">
				<input id="name" type="text" name="name" maxlength="50" size="30" placeholder="Name">
				<input id="email" type="text" name="email" maxlength="80" size="30" placeholder="Email">
				<textarea placeholder="How May I help You?" name="comments" maxlength="1000" cols="25" rows="6"></textarea>
				<input id="sendmsg" type="submit" value="Send!">
			</form>
		</div>
		<div class="info-side">
			<h4>Contact Me</h4>
			<div class="social">
				<a target="_blank" href="http://www.facebook.com/bruno.veiga.714/" title="">
					<img alt="facebook icon" src="/assets/media/images/icon_fb.png" title="" style="">
				</a>
				<a target="_blank" href="https://github.com/bveiga" title="">
					<img alt="git icon" src="/assets/media/images/icon_git.png" title="" style="">
				</a>
				<a target="_blank" href="http://instagram.com/oohbrother/" title="">
					<img alt="instagram icon" src="/assets/media/images/icon_insta.png" title="">
				</a>
				<a target="_blank" href="http://www.linkedin.com/in/brunosantanaveiga" title="">
					<img alt="linkedin icon" src="/assets/media/images/icon_linkedin.png" title="" style="">
				</a>
			</div>
		</div>
	</div>
</div>