RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_URI} !^/test(/|$)
RewriteRule ^([A-Za-z0-9-]+)/?$ page-$1.html [NC,L]

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz|php)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>

# 1 YEAR
# <FilesMatch "\.(ico|pdf|flv)$">
# Header set Cache-Control "max-age=29030400, public"
# </FilesMatch>
# 70 DAYS
# <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
# Header set Cache-Control "max-age=6048000, public"
# </FilesMatch>
# 200 DAYS
# <FilesMatch "\.(xml|txt|css|js)$">
# Header set Cache-Control "max-age=17280000, proxy-revalidate"
# </FilesMatch>